CREATE DATABASE TP06;
GO

USE TP06;
GO

CREATE TABLE Partidas (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    NombreParticipante VARCHAR(50) NOT NULL,
    FechaInicio DATETIME NOT NULL
);
GO

CREATE TABLE SalasEstado (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    IdPartida INT NOT NULL,
    NumeroSala INT NOT NULL,
    Respuesta VARCHAR(50) NOT NULL,
    Pista VARCHAR(50) NOT NULL,

    CONSTRAINT FK_SalasEstado_Partidas
        FOREIGN KEY (IdPartida)
        REFERENCES Partidas(Id)
);
GO